/HW3.X/dist/default/
/HW3.X/build/default/
/Lab2.X/nbproject/private/
/Lab2.X/build/default/
/Lab2.X/dist/default/
/HW4.X/nbproject/private/
/HW4.X/build/default/
/HW4.X/dist/default/
/Lab3.X/nbproject/private/
/Lab3.X/dist/default/
/Lab3.X/build/default/
/HW6.X/nbproject/private/
/test.X/nbproject/private/
/test.X/build/default/
/test.X/dist/default/
/HW6.X/build/default/
/HW6.X/dist/default/
/Lab4.X/nbproject/private/
/Lab4.X/build/default/
/Lab4.X/dist/default/